
{% extends 'base.html.twig' %}

{% block body %}
<h1>Informations Client</h1>
<hr>
<li class="list-group-item">Login : {{ Listeclients.login}}</li>
<ul class="list-group">
<li class="list-group-item">Password : {{Listeclients.password}}</li>
</ul>
{% endblock %}








 