
{% extends 'base.html.twig' %}

{% block body %}
<h1>Informations Fournisseurs</h1>
<hr>
<li class="list-group-item">Nom : {{ ListeFournisseurs.nomF}}</li>
<ul class="list-group">
<li class="list-group-item">Telephone : {{ListeFournisseurs.telF}}</li>
<li class="list-group-item">Email: {{ListeFournisseurs.emailF}}</li>
</ul>
{% endblock %}








 